<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Admin Layout</title>
    <!-- Thêm các thẻ meta, link stylesheet, và các tài nguyên khác nếu cần -->
</head>
<body>
    <!-- <header class="row">
        <div class="col">
            <div th:replace="~{admin/fragments/header :: header}"></div>
        </div>
    </header> -->

    <main class="container">
        <!-- Điều hướng (Navigation) -->
<!--         <div class="row">
            <div class="col">
                <div th:replace="~{admin/fragments/nav :: nav}"></div>
            </div>
        </div> -->

        <section class="row mt-4">
            <div class="col mt-5 mb-5">
                <div layout:fragment="content"></div>
            </div>
        </section>
    </main>

    <!-- <footer class="row">
        <div class="col">
            <div th:replace="~{admin/fragments/footer :: footer}"></div>
        </div>
    </footer> -->
</body>
</html>
